<md-content layout-padding class="npdc-register" ng-if="!user">
  <md-card style="max-width: 500px; margin: 0 auto;">
    <md-toolbar class="md-accent" layout="row" layout-align="center center">
      <h2>Forgotten Password?</h2>
    </md-toolbar>
    <form role="form" layout-padding>
      <md-card-content>
        <p>Fill in your mail address to receive a onetime code that can be used to reset your password.</p>
        <md-input-container class="md-icon-float">
          <label>E-Mail</label>
          <md-icon class="name">email</md-icon>
          <input ng-model="user.email" type="email">
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row">
        <md-button flex class="md-raised" ng-href=".">Cancel</md-button>
        <md-button flex class="md-raised md-primary" ng-click="initUser(user)">Submit</md-button>
      </div>
    </form>
  </md-card>
</md-content>

<md-content layout-padding class="npdc-register" ng-if="user">
  <md-card style="max-width: 500px; margin: 0 auto;">
    <md-toolbar class="md-accent" layout="row" layout-align="center center">
      <h2>Reset Password</h2>
    </md-toolbar>
    <form role="form" layout-padding>
      <md-card-content>
        <md-input-container class="md-icon-float">
          <label>E-Mail</label>
          <md-icon class="name">email</md-icon>
          <input ng-model="user.email" type="email" value="{{ user.email }}">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>One Time Password</label>
          <md-icon class="name">verified_user</md-icon>
          <input ng-model="user.onetime" type="password">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>New Password</label>
          <md-icon class="name" ng-style="pwdStyle">security</md-icon>
          <input ng-model="user.password" ng-change="compare(user)" ng-style="pwdStyle" type="password">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <label>Repeat Password</label>
          <md-icon class="name" ng-style="pwdStyle">security</md-icon>
          <input ng-model="user.password2" ng-change="compare(user)" ng-style="pwdStyle" type="password">
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row">
        <md-button flex class="md-raised" ng-href=".">Cancel</md-button>
        <md-button flex class="md-raised md-primary" ng-click="resetPasswd(user)">Reset</md-button>
      </div>
    </form>
  </md-card>
</md-content>
