<article>
  <h1>{{ document.name }}<span ng-if="false == document.active"> [deactivated]</span></h1>
  
  <section ng-if="document.systems">
  <h2>Access rights</h2>
  <section ng-repeat="system in document.systems">
    {{ system | json }}
  </section>
  
  <section ng-if="document.groups">
    <h2>Groups</h2>
    <ul>
      <li ng-repeat="group in document.groups">{{ group }}</li>
    </ul>
  </section>
  
  <section ng-if="document.uri">
    <a ng-href="{{ personHref(document.uri) }}">{{ document.name}}'s public profile</a>
  </section>
  
  <pre>Updated: {{ document.updated}}</pre>
  
  <npdc:edit-button></npdc:edit-button>
  
</article>