<npdc:edit-button class="np-primary-control"></npdc:edit-button>

<article class="np-padding">
  <npdc-document:meta></npdc-document:meta>
  <span ng-if="false == document.active"> [deactivated]</span>

  <section ng-if="document.systems">
    <h3>Access rights</h3>
    <md-divider></md-divider>

    <section ng-repeat="system in document.systems">
      {{ system | json }}
    </section>
  </section>

  <section ng-if="document.groups">
    <h3>Groups</h3>
    <md-divider></md-divider>

    <ul>
      <li ng-repeat="group in document.groups">{{ group }}</li>
    </ul>
  </section>

  <section ng-if="document.uri">
    <a ng-href="{{ personHref(document.uri) }}">{{ document.name}}'s public profile</a>
  </section>

<pre>Updated: {{ document.updated}}</pre>
</article>
