<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>


<article ng-if="document" class="np-padding">
  <h1>{{ name() }}</h1>

  <npdc-document:meta></npdc-document:meta>
  <span ng-if="false == active()"> [deactivated]</span>

  <section ng-if="document.systems">
    <h3>Access rights</h3>
    <md-divider></md-divider>

    <section ng-repeat="system in document.systems">
      {{ system | json }}
    </section>
  </section>

  <section ng-if="document.groups">
    <h3>Groups</h3>
    <md-divider></md-divider>

    <ul>
      <li ng-repeat="group in document.groups">{{ group }}</li>
    </ul>
  </section>

  <section ng-if="document.uri">
    <a ng-href="{{ personHref(document.uri) }}">{{ name()}}'s public profile on npolar.no</a>
  </section>

  <div ng-if="isLoggedInAs()">
    <h3>You are logged in as this user</h3>

    <div class="md-whiteframe-2dp layout-padding" ng-controller="UserResetController">
      <h4>Reset password</h4>
      <form ng-submit="resetPasswd();">
        <div layout>
          <md-input-container class="md-icon-float" flex="50">
            <label>New Password</label>
            <md-icon class="name" ng-style="pwdStyle">security</md-icon>
            <input ng-model="user.password" ng-change="compare()" ng-style="pwdStyle" type="password">
          </md-input-container>
          <md-input-container class="md-icon-float" flex="50">
            <label>Repeat Password</label>
            <md-icon class="name" ng-style="pwdStyle">security</md-icon>
            <input ng-model="user.password2" ng-change="compare()" ng-style="pwdStyle" type="password">
          </md-input-container>
        </div>
        <md-button class="md-raised md-primary" type="sumbit">Reset</md-button>
      </form>
    </div>
    <div layout layout-align="end end" style="height: 100px;">
      <md-button ng-click="logout()" class="md-raised md-primary">Logout</md-button>
    </div>
  </div>

</article>
