<!DOCTYPE html>
<md-content style="max-width: 700px; margin: 0 auto;">
  <md-card layout-padding>

    <section ng-if="security.isAuthenticated()">You are logged in as <a ng-href="{{ user.email }}">{{ user.name }}</a>
      <md-button type="submit" ng-click="logoutAndRedirectToOrigin()" class="md-raised md-primary">Logout</md-button>
    </section>

    <section ng-if="!security.isAuthenticated()">

      <form role="form" name="loginForm" class="np-login">
        <div layout="column">
          <md-input-container flex>
            <label for="username" class="md-no-float">Username (email)</label>
            <input type="text" ng-model="user.email" id="username" placeholder="full.name@npolar.no" required minlength="5">
            <div class="error-message" ng-show="loginForm.email.$invalid && !registerForm.email.$pristine">Invalid email address</div>
          </md-input-container>
          <md-input-container flex>
            <label for="password" class="md-no-float">{{ password_or_code() }}</label>
            <input type="password" id="password" ng-trim="true" ng-model="user.password" placeholder="{{ password_or_code() }}" required>
          </md-input-container>
        </div>
        <div class="md-actions" layout="row">
          <md-button ng-disabled="!user.password" flex ng-click="loginAndRedirectToOrigin(user.email,user.password)" class="md-raised md-primary">Login</md-button>
        </div>

      </form>

      <div ng-show="isWaitingForOnetimePassword()">
        Not logged in yet, please hit login button
      </div>

      <div ng-show="!isWaitingForOnetimePassword()">
      <hr>
      <p>Not a user? <a href="register">Register</a>
      <p>Forgot password? <md-button ng-disabled="!user.email" flex ng-click="emailOnetimePassword(user.email)" class="md-raised">Email 1-time code</md-button></p>
      </div>

    </section>

  </md-card>

</md-content>
