<md-content layout-padding style="text-align: center;" class="npdc-register">
  <md-card style="max-width: 500px;margin: auto auto">
    <md-toolbar class="md-accent">
      <h2>Register</h2>
    </md-toolbar>
    <form role="form" layout-padding>
      <md-card-content>
        <md-input-container class="md-icon-float" >
          <label>Email</label>
          <md-icon class="name">email</md-icon>
          <input ng-model="user.email" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float" >
          <label>Name</label>
          <md-icon class="name">person</md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float npdc-register-pwd" ng-style="pwdStyle">
          <label>Password</label>
          <md-icon class="name" ng-style="pwdStyle">security</md-icon>
          <input ng-model="user.password" type="password" ng-change="compare(user)" ng-style="pwdStyle">
        </md-input-container>
        <md-input-container class="md-icon-float npdc-register-pwd" >
          <label>Repeat Password</label>
          <md-icon class="name" ng-style="pwdStyle">security</md-icon>
          <input ng-model="user.password2" type="password" ng-change="compare(user)" ng-style="pwdStyle">
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-href=".">Cancel</md-button>
        <md-button class="md-raised md-primary" ng-click="register(user)">Register</md-button>
      </div>
    </form>
  </md-card>
</md-content>

