<!DOCTYPE html>
<npdc:create-button class="np-primary-control"></npdc:create-button>

<div class="np-padding">
  <div ng-if="!security.isAuthenticated()" ng-controller="NpolarLoginController">
    Please log in to access the User application
    <form role="form" layout-padding class="np-login">
      <div>
        <md-input-container>
          <label for="username" class="md-no-float">Username</label>
          <input type="text" ng-model="email" id="username">
        </md-input-container>
        <md-input-container>
          <label for="password" class="md-no-float">Password</label>
          <input type="password" id="password" ng-model="password">
        </md-input-container>
      </div>
      <div layout="row" layout-align="space-between center">
        <a ng-href="/user/reset?username={{user.username}}">Forgot password?</a>
        <a href="/user/register">Sign up</a>
<!--        <md-button type="submit" ng-click="gouncer.onetime(email)" class="md-raised md-primary">1-time password</md-button>
-->     <md-button type="submit" ng-click="login(email,password)" class="md-raised md-primary">Login</md-button>
      </div>
    </form>
  </div>

  <article ng-if="users.length > 0">
    <p><input ng-model="query" placeholder="Search users"></p>

    <section ng-repeat="_id in users | filter:query ">
      <p><a ng-href="{{ _id }}">{{ _id }}</a></p>
    </section>
  </article>

</div>
